<div class="container">
  <h2 class="title">ルーム情報更新</h2>
  <%= render "shared/errors" %>
</div>

<div class="container">
  <div class="column is-6">
    <%= form_with model: @room do |f| %>
    <div class="field">
      <%= f.label :title, "ルーム名", class: "label" %>
      <%= f.text_field :title, class: "input", required: true %>
    </div>
    
    <div class="field">
      <%= f.label :body, "ルーム紹介", class: "label" %>
      <%= f.text_area :body, class: "textarea" %>
    </div>
    
    <div class="field">
      <%= f.label :body, "料金", class: "label" %>
      <%= f.number_field :price, class: "input", required: true %>
    </div>
    
    <div class="field">
      <%= f.label :body, "住所", class: "label" %>
      <%= f.text_field :address, class: "input", required: true %>
    </div>
    
    <div class="field">
      <%= f.label :image, "写真", class: "label" %>
      <%= f.file_field :room_image %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit '編集', class: "button is-success" %>
    <% end %>
  </div>
</div>